.features {
  grid-column: center-start / center-end;
  margin: 15rem 0; // space around the element's border


  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: auto auto;
  grid-gap: 6rem;
}