.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;
    height: 1000px;
    display: grid;
    /*grid-template-rows: 150px 150px;*/
    /* without grid-template-columns it show column-wise one below another vertically */
    grid-template-rows: repeat(2, 150px);
    /*grid-template-rows: repeat(2, 1fr);*/
    /*grid-template-columns: 150px 150px 150px;*/
    /*grid-template-columns: repeat(2, 150px) 300px; !* 2 columns and other is 300px *!*/
    /*grid-template-columns: repeat(2, 150px) 1fr; !* 2 columns and other 1 full row *!*/
    grid-template-columns: repeat(3, 1fr); /* three column divided equally*/
    /*grid-template-columns: 1fr 2fr 1fr;*/
    /*grid-template-columns: 50% 1fr 1fr;*/

    /*grid-row-gap: 30px;*/
    /*grid-column-gap: 50px;*/
    grid-gap: 80px; /* this makes gap for column and rows; this is shorthand property */
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    /*border: 2px springgreen dotted;*/

    /*&--1 { background-color: orangered }*/
    /*&--2 { background-color: orangered }*/
    /*&--3 { background-color: orangered }*/
    /*&--4 { background-color: orangered }*/
    /*&--5 { background-color: orangered }*/
    /*&--6 { background-color: orangered }*/
}

.item--1 {
    background-color: orangered;
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 10;

}

.item--2 {
    background-color: yellowgreen;
    /* basically whichever element at 1st column 1st position sent that to 5th column first position  */
    /*grid-column: 1 / 3;*/
    /*grid-column: 2 / span 2;*/
    grid-column: 1 / -1;

}

.item--3 {
    background-color: blueviolet;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.item--4 {
    background-color: palevioletred
}

.item--5 {
    background-color: royalblue;
    /*grid-row:  1 / 2;*/
    /*grid-column: 3 / 4;*/
    grid-area: 1 / 3 / 3 / 4; /* short hand */
}

.item--6 {
    background-color: goldenrod;
    grid-row: 1/2;
    grid-column: 2/3;
}

/*  method 1   */
/*.challenge {*/
/*    width: 1000px;*/
/*    margin: 30px auto;*/
/*    display: grid;*/
/*    grid-template-rows: 100px 200px 400px 100px;*/
/*    grid-template-columns: repeat(3, 1fr) 200px;*/
/*    grid-gap: 30px; !* how much the gap are would be between the rows (horizontally) and columns (vertically) *!*/
/*    background-color: orangered;*/
/*    padding: 20px;*/
/*    color: white;*/
/*    font-size: 30px;*/
/*    font-family: sans-serif;*/
/*    border: 1px solid black;*/
/*}*/
/*.small {border: 1px solid black;}*/
/*.header {*/
/*    grid-column: 1 / -1;*/
/*    border: 1px solid black;*/
/*}*/
/*.sidebar {*/
/*    grid-column:  4 / 5;*/
/*    grid-row: 2 / span 2;*/
/*    border: 1px solid black;*/
/*}*/
/*.main-content {*/
/*    grid-column:  1 / span 3;*/
/*    border: 1px solid black;*/
/*}*/
/*.footer {*/
/*    grid-column:  1/ -1;*/
/*    border: 1px solid black;*/
/*}*/


/* Method 2 : line name */

.challenge {
    width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-rows: 100px 200px 400px 100px;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-template-areas: ". head head ." "box-1 box-2 box-3 side" "main main main side" "foot foot foot foot";
    grid-gap: 30px; /* how much the gap are would be between the rows (horizontally) and columns (vertically) */
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    border: 1px solid black;
}

.small {
    border: 1px solid black;
}

.header {
    grid-area: head;
    border: 1px solid black;
}

.small-box-1 {
    grid-area: box-1
}

.small-box-2 {
    grid-area: box-2
}

.small-box-3 {
    grid-area: box-3
}

.sidebar {
    grid-area: side;
    border: 1px solid black;
}

.main-content {
    grid-area: main;
    border: 1px solid black;
}

.footer {
    grid-area: foot;
    border: 1px solid black;
}

.container-2 {
    width: 90%;
    margin: 30px auto;
    background-color: #dddddd;

    display: grid;
    /*grid-gap: 30px;*/

    /*!* align grid items to grid areas *!*/
    /*grid-auto-rows: 80px;*/
    /*grid-auto-flow: row dense;*/
    /*grid-auto-columns: .5fr;*/

    /*justify-content: center; !* stretch, end , center, start, space-between, space-evenly, space-around *!*/
    /*align-items: center; !* stretch, end , center, start, space-between, space-evenly, space-around *!*/

    /*!* align grid track to grid container *!*/
    grid-template-rows: repeat(2, minmax(150px, minmax(150px, min-content)));
    grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
    /*height: 1000px;*/
}

.item {
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    background-color: orangered;

}

.item--1 {background-color: orangered}
.item--2 {background-color: yellowgreen}
.item--3 {background-color: blueviolet}
.item--4 {background-color: palevioletred}
.item--5 {background-color: royalblue}
.item--6 {background-color: goldenrod}
.item--7 {background-color: crimson}
.item--8 {background-color: darkslategray}
