* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  /* height: 1000px; */

  display: flex;

  /* this is applied by default where vertical is cross axis and horizontal is main axis */
  flex-direction: row;

  /* here vertical become main axis while horizontal becomes cross axis */
  /* flex-direction: column; */

  /* justify-content: center; */
  justify-content: space-between;

  /* Streach to fit the avaiable area vertically on cross axis */
  /* align-items: stretch; */

  /* item  will start from beginning of cross axis */
  /* align-items: flex-start; */
  /* item  will start from the end of cross axis */
  /* align-items: flex-end; */
  /* item  will start from the end of cross axis */
  /* align-items: baseline; */
  align-items: center;

  /* when something going out of the container, with wrap it would go to next line */
  flex-wrap: wrap;
}

.item {
  background-color: #f1425d;
  padding: 40px; /* space around the element itself */
  margin: 30px;
  /* how much space to leave around element's padding border  */
  color: #fff;
  font-size: 40px;
}

.i2 {
  height: 200px;
  /*
  flex-basis: 200px;
  flex-shrink: 1;
  */

  flex: 0 1 300px; /* flex-grow flex-shrink flex-basis */
}

.i3 {
  order: 1;
  flex: 1;
}

.i4 {
  /* moves vertically up/down based on flex-start (up)/ flex-end (down) vertically on cross axis */
  align-self: flex-end;
  /* moven up and down veritcally  to fill the avaiable space on the cross axis */
  /* align-self: stretch; */

  order: -1;
}
