* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #222222;
}

.container {
  border: 4px solid black;

  min-height: 100vh;
  display: grid;
  /* so basically here no matter how many item has within container; it will take two then 
  another two will go next line to sit as column with size for first 200px 300px;
  now it can n no. of item with given size to render column-wise
   */
  /* grid-template-columns: 200px 300px; */
  /* grid-template-columns: 200px 300px 200px; */
  /* grid-template-columns: 200px 300px 200px 100px; */
  /* grid-template-columns: 200px; */
  /* grid-template-columns: 200px 7rem 10em 5%; */

  /* if there're 4the element then it will take avaiable space as it set to auto */
  /* grid-template-columns: 200px auto 10rem; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 5fr 2fr 1fr;
  /* grid-template-columns: 5fr 1fr; */

  /* grid-template-rows: 300px 5rem auto; */
  /* grid-template-rows: auto 5rem; */
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  padding: 2rem;
  background: #dedede;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border: 3px solid red;
  color: #ffffff;
}

.cell-1 {
  background: #581f18;
}
.cell-2 {
  background: #f0a202;
}
.cell-3 {
  background: #d95d39;
}
.cell-4 {
  background: #202c59;
}
.cell-5 {
  background: #51cb20;
}
