/* Universal Selector [before applying any styles reset here as needed] */
* {
    font-family: Arial;
}

/* Element Selector */
p {
    font-weight: bold;
    /*color: orangered;*/
}

/* ID Selector */

#id {
    color: forestgreen;
    font-family: monospace;
}

/* Class Selector */

.class {
    color: dodgerblue;
    font-size: 12px;
    font-weight: 100;
}

/* Attribute Selector */
input[type] {
    border: 2px solid orangered;
}

/* Attribute value */
input[type="text"] {
    background-color: palegreen;
}

input[type="email"] {
    background-color: aqua;
}

input[type="button"] {
    border: 2px solid green;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* CHECKED */
input[type="checkbox"]:checked {
    outline: 2px solid blue;
}

/* DISABLED */
input[type="text"]:disabled {
    background-color: lightgray;
}

/* FOCUS  */
#cool:focus {
    background-color: aqua;
}

/* NTH CHILD */
p:nth-child(2) {
    color: orangered;
}

/*Attribute starts with given (value/word) here */
p[title^="I"] {
    color: dodgerblue;
}

p[title^="The"] {
    color: blue;
}

/*Attribute ends with given (value/word) here */
p[title$="fox"] {
    color: green;
}

/* Attribute contains this given (value/ word) */
p[title~="brown"] {
    text-decoration: underline;
}

/* SELECT multiple element by separating them by "," */
/*p, button {*/
/*    color: red;*/
/*}*/

/* SELECT ALL DESCENDANTS within it (no matter the nesting level) */
#outerDiv p {
    color: blue;
}

/* SELECT JUST DIRECT DESCENDANT */
#innerDiv > p {
    color: green;

}

/* SELECT ALL ELEMENTS PLACED RIGHT AFTER AN ELEMENT */
h3 + p {
    color: blue;
    text-decoration: underline;
}

/* SELECT ALL ELEMENTS PLACED RIGHT BEFORE AN ELEMENT */
p ~ h4 {
    color: orangered;
}

/* UNVISITED LINK */
a:link {
    text-decoration: none;
}

/* HOVERED LINK */
a:hover {
    color: orangered;
}

/* ACTIVE LINK */
a:active {
    color: lawngreen;
}

/* VISITED LINK */
a:visited {
    color: red;
}

#paragraph::first-letter {
    color: lightgreen;
    font-size: 50px;
    text-shadow: 1px 1px 1px grey;
}

#paragraph::first-line {
    color: blue;
}

::selection {
    background-color: red;
    color: white;
}

.plus::after {
    content: "+";
}

.plus::before {
    content: " - ";
}

#a {
    color: orangered;
}

/* SPECIFICITY : ID > CLASS > ELEMENT > PSEUDO ELEMENT(::hover) */

.ul li a {
    color: red;
}


ul li a {
    color: aquamarine;
}


#container {
    color: red;
}

p {
    text-align: center;
    font-size: 50px;
    color: green;
}

/* SETS VALUE to inherit from container */
.inherit {
    color: inherit;
}

/* Sets value back to the default browser style */
.initial {
    color: initial!important;
}

/* if naturally inherited then "inherit" else "initial" */
.unset {
    color: unset;
}

/* if container has defined style (here yes) so it'll refer to that color else fallback to default browser style respectively  */
.revert {
    color: revert;
}

p[title~="flexbox"] {
    background-color: red;
    display: inline-block;
    padding: 40px 5px;
}