/* Universal Selector */
* {
    font-family: Arial;
}

/* Element Selector */
p {
    font-weight: bold;
    /*color: orangered;*/
}

/* ID Selector */

#id {
    color: forestgreen;
    font-family: monospace;
}

/* Class Selector */

.class {
    color: dodgerblue;
    font-size: 12px;
    font-weight: 100;
}

/* Attribute Selector */
input[type] {
    border: 2px solid orangered;
}

/* Attribute value */
input[type="text"] {
    background-color: palegreen;
}

input[type="email"] {
    background-color: aqua;
}

input[type="button"] {
    border: 2px solid green;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*Attribute starts with given (value/word) here */
p[title^="I"] {
    color: dodgerblue;
}

p[title^="The"] {
    color: blue;
}

/*Attribute ends with given (value/word) here */
p[title$="fox"] {
    color: green;
}

/* Attribute contains this given (value/ word) */
p[title~="brown"] {
    text-decoration: underline;
}

/* SELECT multiple element by separating them by "," */
/*p, button {*/
/*    color: red;*/
/*}*/

/* SELECT ALL DESCENDANTS within it (no matter the nesting level) */
#outerDiv p {
    color: blue;
}

/* SELECT JUST DIRECT DESCENDANT */
#innerDiv > p {
    color: green;

}

/* SELECT ALL ELEMENTS PLACED RIGHT AFTER AN ELEMENT */
h3 + p {
    color: blue;
    text-decoration: underline;
}

/* SELECT ALL ELEMENTS PLACED RIGHT BEFORE AN ELEMENT */
p ~ h4 {
    color: orangered;
}

