@import "./styles/base.scss";

:root {
  --primary-color: rgb(20, 20, 225);
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  //background-color: var(--primary-color);
  //color: var(--fg-color, white);
}

a {
  color: blue;
}

h1 {
  margin: 0;
  // color: var(--primary-color);
  // transition: all 0.3s;

  // &:hover {
  //   font-size: 10vw;
  // }
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.container {
  --primary-color: red;
}

.ball {
  // --primary-color: rgb(32, 220, 32);
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: #fb2324;

  --duration: 1s;
  --stagger: -0.1s;
  --interval: calc(var(--duration) - var(--stagger));

  animation: move-right var(--duration) calc(var(--interval) * var(--i)) both;


  //animation-name: move-like-a-square;
  //animation-duration: 2s;
  //animation-fill-mode: both;
  //animation-iteration-count: infinite;
  //
  //&:hover {
  //  animation-play-state: paused;
  //}

}

@keyframes move-like-a-square {
  from,
  to {
    transform: none;
  }
  50% {
    transform: scale(2);
  }
}

@keyframes move-right {
  from {
    transform: none;
  }
  to {
    transform: translateX(25vw);
  }
}


