@import "./styles/base.scss";

:root {
  --primary-color: rgb(20, 20, 225);
  --duration: 1s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  //background-color: var(--primary-color);
  //color: var(--fg-color, white);
}

a {
  color: blue;
}

h1 {
  margin: 0;
  // color: var(--primary-color);
  // transition: all 0.3s;

  // &:hover {
  //   font-size: 10vw;
  // }
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.container {
  --primary-color: red;
}

.ball {
  // --primary-color: rgb(32, 220, 32);
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: radial-gradient(circle at bottom right, #fb2324, #fe932a);
  background: #fb2324;

  //  single or multiple keyframes as needed

  animation-name: move-like-a-square, red-to-green;
  animation-duration: 4s;
  // animation-delay: 1s;
  animation-fill-mode: both;
  // animation-direction: alternate;
  animation-iteration-count: 5;
}

@keyframes move-like-a-square {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(20vw);
  }
  50% {
    transform: translateX(20vw) translateY(20vw);
  }

  75% {
    transform: translateX(0) translateY(20vw);
  }

  100% {
    transform: none;
  }
}

@keyframes red-to-green {
  from {
    background: red;
  }

  to {
    background-color: green;
  }
}
