/*BOX MODEL:*/
/*content: the content itself rendered from HTML*/
/*padding : space around the content itself*/
/*border: space around the content's padding*/
/*margin: space around content's padding's border area*/


/* Universal Selector [before applying any styles reset here as needed] */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #222222;
}

/* Element Selector */
p {
    font-weight: bold;
    /*color: orangered;*/
}

/* ID Selector */

#id {
    color: forestgreen;
    font-family: monospace;
}

/* Class Selector */

.class {
    color: dodgerblue;
    font-size: 12px;
    font-weight: 100;
}

/* Attribute Selector */
input[type] {
    border: 2px solid orangered;
}

/* Attribute value */
input[type="text"] {
    background-color: palegreen;
}

input[type="email"] {
    background-color: aqua;
}

input[type="button"] {
    border: 2px solid green;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* CHECKED */
input[type="checkbox"]:checked {
    outline: 2px solid blue;
}

/* DISABLED */
input[type="text"]:disabled {
    background-color: lightgray;
}

/* FOCUS  */
#cool:focus {
    background-color: aqua;
}

/* NTH CHILD */
p:nth-child(2) {
    color: orangered;
}

/*Attribute starts with given (value/word) here */
p[title^="I"] {
    color: dodgerblue;
}

p[title^="The"] {
    color: blue;
}

/*Attribute ends with given (value/word) here */
p[title$="fox"] {
    color: green;
}

/* Attribute contains this given (value/ word) */
p[title~="brown"] {
    text-decoration: underline;
}

/* SELECT multiple element by separating them by "," */
/*p, button {*/
/*    color: red;*/
/*}*/

/* SELECT ALL DESCENDANTS within it (no matter the nesting level) */
#outerDiv p {
    color: blue;
}

/* SELECT JUST DIRECT DESCENDANT */
#innerDiv > p {
    color: green;

}

/* SELECT ALL ELEMENTS PLACED RIGHT AFTER AN ELEMENT */
h3 + p {
    color: blue;
    text-decoration: underline;
}

/* SELECT ALL ELEMENTS PLACED RIGHT BEFORE AN ELEMENT */
p ~ h4 {
    color: orangered;
}

/* UNVISITED LINK */
a:link {
    text-decoration: none;
}

/* HOVERED LINK */
a:hover {
    color: orangered;
}

/* ACTIVE LINK */
a:active {
    color: lawngreen;
}

/* VISITED LINK */
a:visited {
    color: red;
}

#paragraph::first-letter {
    color: lightgreen;
    font-size: 50px;
    text-shadow: 1px 1px 1px grey;
}

#paragraph::first-line {
    color: blue;
}

::selection {
    background-color: red;
    color: white;
}

.plus::after {
    content: "+";
}

.plus::before {
    content: " - ";
}

#a {
    color: orangered;
}

/* SPECIFICITY : ID > CLASS > ELEMENT > PSEUDO ELEMENT(::hover) */

.ul li a {
    color: red;
}


ul li a {
    color: aquamarine;
}


#container {
    color: red;
}

p {
    text-align: center;
    font-size: 50px;
    color: green;
}

/* SETS VALUE to inherit from container */
.inherit {
    color: inherit;
}

/* Sets value back to the default browser style */
.initial {
    color: initial !important;
}

/* if naturally inherited then "inherit" else "initial" */
.unset {
    color: unset;
}

/* if container has defined style (here yes) so it'll refer to that color else fallback to default browser style respectively  */
.revert {
    color: revert;
}

p[title~="flexbox"] {
    background-color: red;
    display: inline-block;
    padding: 40px 5px;
}

p[title~="typescript"] {
    background-color: red;
    margin: 30px 50px;
    padding: 5px;
}

.box-model-p {
    background-color: skyblue;
    display: inline-block;
    padding: 50px;
    border: 10px solid limegreen;
    margin-top: 50px;
    margin-left: 50px;
}

div {
    height: 10px;
}

/*#absolute {*/
/*    width: 50px;*/
/*    background-color: rebeccapurple;*/
/*}*/

/*#relative {*/
/*    width: 50%; !* taking 50% from outerDiv x axis i.e. width = 100px *!*/
/*    background-color: limegreen;*/
/*}*/

#outerDiv2 {
    width: 100px;
    padding: 2px;
    border: 2px solid red;
}

p {
    font-size: 2em;
}

#sentence {
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify;

    text-decoration: none;
    text-decoration: underline solid limegreen;
    /*text-decoration-color: blue;*/
    /*text-decoration-color: overline;*/
    /*text-decoration-color: dashed;*/
    text-indent: 20px;
    /*text-transform: capitalize; !* lowercase/uppercase *!*/
}

#paragraph1 {
    overflow: hidden;
    white-space: nowrap;
    /*white-space: normal;*/
    border: 2px solid limegreen;
    background-color: lightgray;
    text-overflow: ellipsis;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
    /*font-weight: bolder;*/
    /*text-shadow: 2px 2px 5px grey;*/
    /*word-spacing: 2px;*/
    /*letter-spacing: 1px;*/
}


.frame {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 1px 1px 3px lightgrey;
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.frame:hover {
    box-shadow: 8px 8px 10px lightgrey;
    cursor: pointer;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    background-color: white;
}

#colorName {
    background-color: crimson;
}

#hex {
    background-image: linear-gradient(180deg, #2af598, #009efd 100%);
    /*background-color: #2cd51e;*/
}

#rgb {
    background-color: rgb(37, 21, 224);
}

#rgba {
    background-color: rgba(37, 21, 224, 0.5);
}

#hsl {
    background-color: hsl(24, 90%, 58%);
}

#hsla {
    background-color: hsla(24, 94%, 58%, 0.8);
}


#red {
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 20px;
    border: 10px solid black;
    margin: 5px;
    /* margin space shouldn't be considered since that space outside the element */
    /* so to just take the space from given width and height = 200px, box-sizing: border-box is needed */
    box-sizing: border-box;
}

/*#blue {*/
/*    width: 50%;*/
/*    height: 200px;*/
/*    background-color: blue;*/
/*}*/

.box {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
}

#static {
    background: red;
    position: static;
}

#relative {
    background: blue;
    position: relative;
    left: 200px;
}

.container-position {
    border: 5px solid black;
    width: 300px;
    height: 300px;
    position: relative;
}

#absolute {
    background: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
    /*top: 200px;*/
    /*left: 200px;*/
}

/*#fixed {*/
/*    background: green;*/
/*    position: fixed;*/
/*    top: 500px;*/
/*    left: 500px;*/
/*    z-index: 1;*/
/*}*/

/*#sticky {*/
/*    background: purple;*/
/*    position: sticky;*/
/*    top: 20px;*/
/*    z-index: 2;*/
/*}*/

.background-div {
    border: 1px solid grey;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    /*background-color: red;*/
    /*background-image: url("https://assets-prd.ignimgs.com/2021/12/10/sonicfrontiers-blogroll-1639102469797.jpg");*/
    /*background-repeat: no-repeat;*/
    /*display: none;*/
    /*background-size: 200px;*/
    /*background-size: cover;*/
    /*background-position: center;*/

    /* replacing background color, image, repeat, size and position */
    background: url("https://assets-prd.ignimgs.com/2021/12/10/sonicfrontiers-blogroll-1639102469797.jpg") center/cover no-repeat green;

    /*background-attachment: fixed;*/
    /*background-clip: border-box;*/
}

p, h2, h3, h4 {
    border: 1px solid green;
}

span, a, img {
    border: 1px solid blue;
    display: inline-block;
    width: 200px;
}

.text-shadow {
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    text-shadow: 5px 2px 1px red;
}

.button-style {
    font-size: 20px;
    margin: 50px auto;
    display: block;
    /*  making space around the element */
    padding: 5px 15px;
    border-radius: 4px;
    background-color: dodgerblue;
    cursor: pointer;
}

.button-style:hover {
    box-shadow: 2px 2px 5px grey;
}

.l-gradient {
    width: 400px;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin: 0 auto;
    /*background-image: linear-gradient(to left, red, blue);*/
    /*background-image: linear-gradient(180deg, red, blue);*/
    /*background-image: linear-gradient(234deg, red 25%, blue);*/
    background-image: radial-gradient(darkorange, yellow);
    background-image: repeating-radial-gradient(farthest-corner at 100px 100px, darkorange 25%, yellow 50%);
}

.d-transform {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: red;

    /*transition-property: all;*/
    /*transition-delay: 1s;*/
    /*transition-duration: .5s;*/
    /*transition-timing-function: ease-in;*/

    transition: all .5s linear;

    /*transition-timing-function: cubic-bezier(0, .98, 1, -0.02);*/
    /*transform: rotate(45deg);*/
    /*transform: scaleY(2);*/
    /*transform: skewY(20deg);*/
    /*transform: translate(50px, 100px); !* -50px *!*/
    /*transform: matrix([scaleX], [skewY], [skewX], [scaleY], [translateX], [translateY]);*/
    /*transform: matrix(2, 1, 1, 2, 70, -70);*/
}

.d-transform:hover {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: limegreen;
    transform: rotate(180deg);
    /*cursor: pointer;*/
    /*transition: all 2s linear;*/
    /*transform: rotateY(360deg);*/
}

/*.animation {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: red;*/
/*    position: relative;*/

/*    !*animation-name: square;*!*/
/*    !*animation-duration: 4s;*!*/
/*    !*animation-timing-function: linear;*!*/
/*    !*animation-delay: 2s;*!*/
/*    !*animation-iteration-count: infinite;*!*/
/*    !*animation-direction: alternate;*!*/
/*    !*animation-fill-mode: backwards;*!*/
/*    !*animation-play-state: running;*!*/

/*    animation: square 4s linear 2s infinite alternate backwards running;*/
/*}*/

/*@keyframes square {*/
/*    0% {*/
/*        background-color: red;*/
/*        left: 0px;*/
/*        top: 0px;*/
/*    }*/
/*    25% {*/
/*        background-color: gold;*/
/*        left: 500px;*/
/*        top: 0px;*/
/*    }*/
/*    50% {*/
/*        background-color: lime;*/
/*        left: 500px;*/
/*        top: 500px;*/
/*    }*/
/*    75% {*/
/*        background-color: dodgerblue;*/
/*        left: 0px;*/
/*        top: 500px;*/
/*    }*/
/*    100% {*/
/*        background-color: purple;*/
/*        left: 0px;*/
/*        top: 0px;*/
/*        border-radius: 0px;*/
/*    }*/


/*}*/

div#circle {
    width: 200px;
    height: 200px;
    border: 15px solid red;
    margin: 25% auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: circle 2s infinite forwards;
}

@keyframes circle {
    0% {
        border-color: red;
        transform: scale(1);
    }
    25% {
        border-color: gold;
        transform: scale(1.1);
    }
    50% {
        border-color: lime;
        transform: scale(1.3);
    }
    75% {
        border-color: dodgerblue;
        transform: scale(1);
    }
    100% {
        border-color: purple;
        transform: scale(1);
    }
}

div#square {
    width: 75px;
    height: 75px;
    border: 5px solid limegreen;
    animation: square2 2s infinite ease-in-out alternate-reverse;
}

/* transform : rotate, scale, skewing, translate */
@keyframes square2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        border-color: aqua;
        border-width: 10px;
    }
    50% {
        border-color: coral;
        border-width: 20px;
    }
    75% {
        border-color: yellow;
        border-width: 40px;
    }
    100% {
        transform: rotate(360deg);
        border-width: 5px;
    }
}

div#mario-container {
    position: relative;
    height: 100vh;
    z-index: 1;
}

div#block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#mario {
    width: 300px;
    bottom: 50px;
    right: 0px;
    position: absolute;
    z-index: 1;
}

#block-mario {
    width: 100px;
    z-index: 2;
    opacity: 1;
    animation: jump 0.6s linear infinite alternate;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#coin-mario {
    width: 70px;
    z-index: 1;
    position: relative;
    /*mix-blend-mode: multiply;*/
    right: 85px;
    bottom: 90px;
    animation: coin 0.9s linear infinite forwards;
}



@keyframes coin {
    0% {
        transform: translateY(0px) rotateY(0deg);
        opacity: 1;

    }
    50% {
        transform: translateY(-100px) rotateY(180deg);
        opacity: 0;

    }
    100% {
        transform: translateY(-100px) rotateY(360deg);
        opacity: 0;

    }
}